@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Form inputs */
.input_field {
  @apply mt-2 py-[5.5px] px-3 w-full rounded-lg focus:outline-none bg-white shadow-lg shadow-gray-300 border placeholder:text-sm;
}

.login_input {
  @apply w-full bg-gray-200 py-2 ps-3 mt-4 rounded-lg focus:outline-none border placeholder:font-light placeholder:text-sm text-sm;
}
